div.note_preview {
	margin: 1em;
}

div.note_preview_title {
	line-height: 2em;
	font-size: 150%;
}

div.note_preview_body {
#	line-height: 1.5em;
	margin-top: 1em;
}

div.note_body {
#	line-height: 1.5em;
	margin-top: 1em;
}

div.notes_nav {
	text-align: center;
}

div.notes_nav a {
	/* text-decoration: none; */
}

div.notes_nav a.notes_nav_cur {
	color: #551A8B;
}

div.notes_nav a {
	color: #0000EE;
}
